.venv
.envrc

/csv/*
!/csv/.gitkeep

/img/*
!/img/interim/
/img/interim/*

!/img/interim/resize/
/img/interim/resize/*
!/img/interim/resize/.gitkeep

!/img/interim/each_receipt/
/img/interim/each_receipt/*
!/img/interim/each_receipt/resize/
/img/interim/each_receipt/resize/*
!/img/interim/each_receipt/resize/.gitkeep

!/img/unproccessed/
/img/unproccessed/*
!/img/unproccessed/.gitkeep